<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
错误信息：<h4 th:text="${msg}"></h4>
<form action="" method="post">
    <p>账号：<input type="text" name="username" value="admin"/></p>
    <p>密码：<input type="text" name="password" value="123456"/></p>
    <p>记住我<input type="checkbox" name="rememberMe"/></p>
    <div >
        <p> <input type="text" maxlength="4" name="verifyCode" placeholder="验证码" class="layui-input" autocomplete="off"></p>
        <img id="captcha_img" alt="点击更换" title="点击更换"
             onclick="refresh()" src="images/captcha" />
    </div>
    <p><input type="submit" value="登录"/></p>
</form>
</body>
</html>
<script>
    function refresh() {
        document.getElementById('captcha_img').src="images/captcha?"+Math.random();
    }
</script>